body {
	background-color: #CCCCCC;
	font-family: "Trebuchet MS", Arial, sans-serif;
	position: relative;
	height: 1200px;
	width: auto;
}

/*----set the list of all page----*/
#button li {
	list-style: none;
}

/*------------------------------------------------------------- info-bar-----------------------------------------------------------------------*/

/*----use absolute position to set the info-bar on the page bottom----*/ 
#info-bar {
	width: 130px;
	height: 130px;
	background: #696969;
	text-align: center;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	position: absolute;
	left: 600px;
	bottom: 50px;
}

#info-bar ul {
	padding: 0;
	text-align: center;
}

/*----set the distance between the list----*/
#info-bar ul li {
	margin-bottom: 4px;
}

#info-bar ul li span {
	font-weight: bold;
}

#info-bar ul li.page {
	color: white;
	display: block;
}

/*----control position between the digits and img in the page of list----*/
#info-bar ul li.page span {
	margin-left: 12px;
	vertical-align: 7px;
}

#info-bar ul li.comment span {
	font-size: 30px;
} 

/*----set the list of mine display inline so that the last two list could in the same line----*/
#info-bar ul li.mine {
	display: inline;
}

#info-bar ul li.mine span {
	vertical-align: 8px;
	font-size: 20px;
	font-weight: bolder;
	color: #079E6E;
}

/*----set the distance between img and digits in the list of mine----*/
#info-bar ul li.mine img {
	margin-left: 3px;
	margin-right: 5px;
}

/*----------------------------------------------------------control-ring-container-------------------------------------------------------------*/

/*----set the background-image of all list in the control-ring-container----*/
#control-ring li.mask {
	background-image: url("../assets/images/nomask.png");
}

#control-ring li.history {
	background-image: url("../assets/images/history.png");
}

#control-ring li.message {
	background-image: url("../assets/images/message.png");
}

#control-ring li.setting {
	background-image: url("../assets/images/setting.png");
}

#control-ring li.sign {
	background-image: url("../assets/images/signin.png");
}

/*----set the shape of the list of control-ring and use the absolute position to make it in the center of info-bar part----*/
#control-ring li {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #696969;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	display: block;
	text-align: center;
	position: absolute;
	left: 650px;
	bottom: 95px;

}

/*----set the red circle beside the list of message and use absolute position to make it close to the message list always----*/
#control-ring li.message span.unread {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	font-weight: bold;
	color: white;
	background: red;
	line-height: 20px;
	position: absolute;
	left: 23px;
	bottom: 20px;
}

/*--------------------------------------------------------the apb part-------------------------------------------------------------------------*/

/*----set the shape of the icon and use the absolute position to make it in the center of the info-bar part----*/
#button div.apb {
	width: 54px;
	height: 54px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background-image: url("../assets/images/atplus_green.png");
	background-repeat: no-repeat;
	background-color: rgba(48, 63, 159, 1);
	background-size: 70%;
	background-position: center;
	position: absolute;
	left: 640px;
	bottom: 90px;
}

/*---------------------------------------------------------transform part---------------------------------------------------------------------*/

/*----set the state and posiiton of info-bar and all list of control when the cursor on the apb icon----*/
#button:hover #info-bar {
	transform: scale(1) translate(0, -103px);
	-moz-transform: scale(1) translate(0, -103px);
	-webkit-transform: scale(1) translate(0, -103px);
}

#button:hover #control-ring li.mask {
	transform: scale(1) translate(-66px, -40px);
	-moz-transform: scale(1) translate(-66px, -40px);
	-webkit-transform: scale(1) translate(-66px, -40px);
}

#button:hover #control-ring li.history {
	transform: scale(1) translate(-78px, 0px);
	-moz-transform: scale(1) translate(-78px, 0px);
	-webkit-transform: scale(1) translate(-78px, 0px);
}

#button:hover #control-ring li.message {
	transform: scale(1) translate(-62px, 40px);
	-moz-transform: scale(1) translate(-62px, 40px);
	-webkit-transform: scale(1) translate(-62px, 40px);
}

#button:hover #control-ring li.setting {
	transform: scale(1) translate(-25px, 60px);
	-moz-transform: scale(1) translate(-25px, 60px);
	-webkit-transform: scale(1) translate(-25px, 60px);
}

#button:hover #control-ring li.sign {
	transform: scale(1) translate(20px, 58px);
	-moz-transform: scale(1) translate(20px, 58px);
	-webkit-transform: scale(1) translate(20px, 58px);
}

#button:hover #info-bar, #button:hover #control-ring li {
	opacity: 1;
}

#button:hover div.apb {
	transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	background-image: url("../assets/images/atplus_green.png");
	background-repeat: no-repeat;
	background-size: 70%;
	background-color: rgba(48, 63, 159, 1);
	background-position: center;
}

/*----set the state and position of info-bar and all list of control when the cursor not on the apb icon----*/

#info-bar, #control-ring li {
	transform: scale(0) translate(0, 0);
	-moz-transform: scale(0) translate(0, 0);
	-webkit-transform: scale(0) translate(0, 0);
	opacity: 0;
}

#button div.apb {
	transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	background-image: url("../assets/images/atplus_white.png");
	background-repeat: no-repeat;
	background-color: rgb(154, 158, 203);
	background-size: 80%;
	background-position: center;
}
/*-------------------------------------------------------transition part-----------------------------------------------------------------------*/
 
 /*----set the transition when the cursor on the apb icon----*/
#button:hover #info-bar, #button:hover #control-ring li {
	transition: transform 0.6s 0.6s;
	-moz-transition: transform 0.6s 0.6s;
	-webkit-transition: transform 0.6s 0.6s;
	cursor: pointer;
}

#button:hover div.apb {
	transition: transform 0.7s 0.5s, background 0.7s 0.5s;
	-moz-transition: -moz-transform 0.7s 0.5s, background 0.7s 0.5s;
	-webkit-transition: -webkit-transform 0.7s 0.5s, background 0.7s 0.5s;
}

/*----set the transition when the cursor not on the apb icon----*/
#info-bar {
	transition: transform 0.8s 0.5s, opacity 0.8s 0.5s;
	-moz-transition: -moz-transform 0.8s 0.5s, opacity 0.8s 0.5s;
	-webkit-transition: -webkit-transform 0.8s 0.5s, opacity 0.8s 0.5s;
}

#control-ring li {
	transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
	-moz-transition: -moz-transform 0.5s 0.5s, opacity 0.5s 0.5s;
	-webkit-transition: -webkit-transform 0.5s 0.5s, opacity 0.5s 0.5s;
}

#button div.apb {
	transition: transform 0.6s 0.8s, background 0.6s 0.8s;
	-moz-transition: -moz-transform 0.6s 0.8s, background 0.6s 0.8s;
	-webkit-transition: -webkit-transform 0.6s 0.8s, background 0.6s 0.8s;
}

/*--------------------------------------------box-shadow and background-color-----------------------------------------------------------------*/
#header {
	font-size: 40px;
	background: #CCCCCC;
	color: #CCCCCC;
	text-shadow: 1px 1px 3px #666666, -1px -1px 3px #FFFFFF;
	position: absolute;
	left: 480px;
	bottom: 400px;
}

#info-bar:hover, #control-ring li:hover {
	box-shadow: -2px -2px 3px gray;
	background-color: #FF9966;
}

